[% WRAPPER index.tt title = "Block Admin" %]

[% INCLUDE admin/blocks_nav.tt %]

<div class="_blocks_list">
    <h3> Short list of the last blocks </h3>
    <ul>
[% FOREACH block IN blocks %]
    <li>
        <a href="/admin/block/[% block.idblock %]">
        [% block.title %]
        </a>
    </li>
[% END %]
    </ul>
</div>

[% END %]
