<ul>
    <li> Tags: </li>
[% FOREACH tag IN tags %]
    <li id="_blocks_editor_tag">[% tag.tag.name %]</li>
[% END %]
</ul>
<ul>
    <li>
        <form action="/admin/tagsblocks/[% idblock %]" method="POST">
            <input type="text" name="name">
            <input type="submit" value="Add new Tag">
        </form>
    </li>
</ul>
