html
{
    font-family: Sans-serif, serif;
}

._blocks_nav
{
    top: 0;
    width: 100%;
    padding: 0.1em .1em .1em .1em;
    background-color: rgba(1, 1, 1, 0.8);
}

._blocks_nav ul
{
    list-style-type: none;
}

._blocks_nav ul li
{
    display: inline;
    padding-left: 1em;
    color: #FFF;
    font-family: Sans-serif, serif;
}

._blocks_nav ul li a
{
    color: #FFF;
    font-family: Sans-serif, serif;
    text-decoration: none;
}

._blocks_nav ul li form
{
    display: inline;
}

#languages
{
    float: left;
    width: 30em;
}

#tagsblocks
{
    float: left;
    width: 30em;
}

#_block_editor
{
    float: left;
}

._blocks_list ul
{
    list-style-type: none;
}

._blocks_list ul li
{
    padding-left: 1em;
    color: #000;
    font-family: Sans-serif, serif;
    width: 100%;
    margin: 0.5em 1em 0.5em 0em;
}

._blocks_list ul li h4
{
    color: #000;
    font-family: Sans-serif, serif;
    font-size: 1.2em;
    padding: 0px 0px 0px 0px;
    margin: 0.2em 1em 0.2em 0em;
    display: inline;
}

._blocks_list ul li span
{
    display: block;
    background-color: #DDD;
    margin-left: 3em;
    margin-top: 0.5em;
    padding: 0.2em 0.2em 0.2em 0.2em;
}

.formtitle
{
    transition: all 0.3s ease-in-out 0s;
    font-size: 2em;
}

._blocks_editor_menu ul
{
    width: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

._blocks_editor_menu li 
{
    display: inline;
    witdh: initial;
}

._blocks_tags ul
{
    list-style-type: none;
}

._blocks_tags form
{
    display: inline;
}

._blocks_tags ul li
{
    display: inline;
    padding-left: 1em;
    color: #000;
    font-family: Sans-serif, serif;
}

#_blocks_editor_tag
{
    color: #FFF;
    background-color: #222;
    padding: 0.1em 0.3em 0.1em 0.3em;
    margin: 0.1em 0.1em 0.1em 0.1em;
}

._blocks_auth_banner
{
    float: left;
    margin-top: 5em;
    margin-right: 3em;
}

._blocks_auth
{
    float: left;
    background-color: #111;
    color: #DDD;
    width: 30vw;
    height: 30vh;
    margin-top: 10em;
    margin-right: 3em;
}

._blocks_auth
{
    padding: 3em 3em 3em 3em;
    text-align: right;
}

._blocks_auth ul
{
    font-size: 1.2em;
    list-style-type: none;
}

._blocks_auth input
{
    position: relative;
}

